<div>
  <%= image_tag 'top.png', width: '315' %>
</div>

<div>
  <p>画像を自動生成して、気軽に力強いツイート（パワーツイート）ができるサービスです</p>
</div>

<div>
  <%= link_to 'Twitterで登録 / ログイン', '/auth/twitter', class:"btn btn-danger"  %>
</div>

<div>
  <p>こんなツイートが簡単にできます</p>
</div>

<div>
  <%= image_tag '', width: '315' %>
</div>
